

h1 {
    color: red;
    display: inline;
}

header {
    text-align: center;
}

hr {
    border-color: red;
    width: 75%;
}

h2 {
    color: red;
}

.devour, #add, #deleteBurger {
    color: white;
    background-color: gold;
}
